/** AnitaKravitz 1.0 - A beautiful theme 
*/

@import "layout.css";

body {
  color:#5a5a5a;
  font-family:Arial,sans-serif;
  font-size:small;
  margin:0;
  padding:0;
}

* {
  margin: 0pt;
  padding: 0pt;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
  font-family:georgia,sans-serif;
  margin:0;
  padding:0;
}

h3,h4,h5,h6 { color:#013466; }

h3 { font-size: 150%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  font-size:1.125em;
  line-height:1.4em;
  margin: 0.6em 0 1.2em;
  font-family: arial,Times,"Times New Roman",serif;
  color: #000005;
}

a {
  color:#254694;
  text-decoration:none;
}

a:hover {
  color:#4FA3F9;
  text-decoration:underline;
}

img, a img {
  border: none;
}

img.left {
  float: left;
  border: none;
  padding: 0px 9px 0px 0px;
  max-width: 100%;
}

span.form-required {
  color: #ffae00;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #494949;
}

input {
  font-size: 1em;
  color: #000;
}

textarea, select {
  font-size: 1em;
  color: #000;
}


/*----------site logo, site name, & site slogan----------*/
.logo {
  float:left;
  padding:0 1.3em 0 0;
  margin:0;
}

#header h1 {
  color:#fff;
  font-size:4em;
  font-family: Georgia,Times,serif;
  font-style: italic;
  letter-spacing:2px;
  line-height:1em;
  margin:0;
  padding:0.2em;
  white-space:nowrap;
}

#header h1 a {
  color:#fff;
  text-decoration:none;
}

#header h2 {
  color:#888888;
  font-size:1.8em;
  font-family: Times,serif;
  margin:0;
  padding: 0 0 0 1em;
  font-variant:small-caps;
}

/*----------primary links-----------*/
#primary { 
  width: 100%; 
  border-top: 2px solid #ccc; 
  border-bottom: 2px solid #ccc; 
  float: left; 
  background: #000; 
}

#primary ul { 
  list-style: none;
  color: #000;
}

#primary li { 
  float: right; 
}
	
#primary li a { 
  display: block; 
  height: 3.0em; 
  padding: 0 1.2em; 
  line-height: 3.0em; 
  color: #fff; 
  text-decoration: none; 
  font-size: 1.4em; 
  text-transform: uppercase; 
  letter-spacing: .3em; 
  float: left; 
  cursor: pointer 
}
		
#primary li a:hover { 
  color: #000; 
  background: #fff; 
  text-decoration: none; 
}
			
#primary li.current_page_item a:link, #primary li.current_page_item a:visited { 
  background: #222; 
  color: #000; 
  cursor: default; 
}

/*----------End primary links-----------*/

/*----------mainContent----------*/
#mainContent h2 {
  border-bottom:1px solid #ccc;
  color:#263559;
  font-size:2em;
  font-weight:normal;
  line-height:1.2em;
  margin:0;
  padding:0;
}

#mainContent h2 a {
  color:#263559;
  text-decoration:none;
}

#mainContent h2 a:hover {
  color:#4FA3F9;
  text-decoration:none;
}

/*----------sideBars----------*/
#sideBars h2 {
  border-bottom:1px solid #ccc;
  font-size:140%;
  line-height:1.3em;
  margin:0.3em 0 0.2em 0em;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 2em;
  color: #ef0026;
}

/*---------- page styles----------*/
.nodetitle {
  font-size:2.5em;
  font-family:Georgia,Times,serif;
  font-style:italic;
  line-height:1em;
  margin-bottom:0.15em;
  color:#000000;
}

.mission {
  background-color:#F7F7F7;
  border:1px solid #ccc;
  color:#354A7B;
  font-size:1em;
  line-height:1.35em;
  margin:0.32em 0 0.85em;
  padding:1em;
}

.breadcrumb {
  margin:0.32em 0;
  padding:0;
}

.messages {
  color:red;
  margin:0.75em 0 0.75em;
  padding:0.5em 1em;
}

.messages ul {
  margin:0;
}

.block {
  background: transparent url('images/clip.jpg') no-repeat scroll left top;
  margin:0 0 1.5em;
  padding:0.3em 0 0.55em 1.5em;
}

/*----------node styles----------*/
.node {
  border-bottom:1px solid #ccc;
  margin:0 0 2.5em;
  padding:0;
}

h3,h4,h5,h6,.nodetitle a {
  color:#ef0026;
}

.nodetitle a:hover {
  color:#3670A8;
  text-decoration:none;
}

.taxonomy  /* tag icon for taxonomy located in icons.css */
{
  clear:left;
  font-size:0.95em;
  padding:0 0 0.5em 1.5em;
}

.submitted {
  padding:0;
  font-size: 0.9em;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-style: italic;
  color: #888800;
}

#mainContent .content {
  padding:0.8em 0 0;
}

.node .links {
  font-size:1.05em;
  padding:0.35em 0;
  margin:0;
}

.picture {
  float:right;
  padding-left:1em;
}

.preview .node {
  border:1px solid #ccc;
  padding:0.75em;
}

/*----------comment styles----------*/
.commentTitle {
  font-size:1.5em;
}

.comment {
  background-color:#F7F7F7;
  border:1px solid #ccc;
  margin:0 0 2em;
  padding:1em;
}

/*----------misc. styles----------*/
hr {
  margin:0;
  padding:0;
  border:none;
  height:1px;
  background:#5294c1;
}

dl {
  margin:0.5em 0 1em 1.5em;
}

dl dd {
  margin:0 0 .5em 1.5em;
}

dt {
  font-size:1.285em;
  margin:0.65em 0 0;
}

dl {
  margin:0.5em 0 1em 1.5em;
}

dl dd {
  margin:0 0 .5em 1.5em;
}

span.form-required {
  color:#ffae00;
}

.description {
  font-size:0.92em;
  color:#5A5A5A;
  margin-bottom:0.75em;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin:0.25em 0;
}

#center form {
  margin-bottom:2em;
}

.form-button, .form-submit {
 margin:0.5em 0.5em 1em 0;
}

table .form-button, table .form-submit {
  margin: 0;
}

.box { margin-bottom:2.5em; }

div.admin {
  margin:0;
  padding:0;
}

blockquote {
  margin:0;
  padding:0 0 8px;
}

blockquote p {
  background:url('images/close-quote.gif') no-repeat right bottom;
  color:#30457E;
  font-family:serif;
  margin:10px 20px;
  padding-left:18px;
  text-indent:-18px;
  width:400px;
}

blockquote p:first-letter {
  background:url('images/open-quote.gif') no-repeat left top;
  padding-left:18px;
}
.user-signature {
  color:#949494;
  font-family:Cursive, sans;
  font-size:0.80em;
  margin:0;
  padding:0;
}

/** * Admin Styles  */

.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}

div.admin-panel {
  padding: 1em 1em 1.5em;
}

div.admin-panel .description {
  margin-bottom: 1.5em;
}

div.admin-panel dl {
  margin: 0;
}

div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

/*---------------user-login-form---let's get rid of the center alignment---------------*/
#user-login-form {
  margin:0;
  padding:0 0 0 10px;
  text-align:left;
}

.form-item {
  text-align:left;
  margin:0;
  padding:0;
}

/*---------------table styles---------------*/
table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #bbb;
  color: #494949;
  font-weight: bold;
}

thead div.sticky-header {
  border-bottom: 2px solid #ddd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #D5D6D7;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #EEEEEE;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #D3DAE9;
}

tr.even td.active {
  background-color: #E6EAF7;
}

td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #B9C2DC;
  background-color: #D0D5E0;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

.pager {
  font-size: 1.5em;
  clear: both;
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-family: Georgia,Times,serif;
  font-style: italic;
  color: #888888;
}